{% extends "admin/base_site.html" %}
{% load i18n static crispy_forms_tags %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">
  <style rel="stylesheet" type="text/css">
    #content #admin_index{
      padding: 1em !important;
    }
  </style
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<h1>Import CAMT0.52</h1>
<div id="admin_index">
  <form method="post" enctype="multipart/form-data" >
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" class="btn btn-primary">
  </form>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
